@charset "UTF-8";

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: cursive;
    --fonte3: cursive;
}

* {
    margin:0px;
    padding: 0px;
}

html body{
    font-family: var(--fonte1);
    background-color: darkgray;
    min-height: 100vh;
}

header{
    background-color: rgb(65, 62, 62);
    color:white;
    text-align: center;
}

header > h1 {
    font-size: 5vw;
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration:none;
    font-size: bolder;
}

a:hover{
    text-decoration:underline;
}

section{
    font-family: var(--fonte3);
padding-top: 10vh;
padding-bottom: 10vh;
line-height: 2em;
padding-left: 30px;
font-size: 2vw;
}

section > p{
    padding-bottom: 1em;
}

.normal{
    background-color: rgba(246, 245, 248, 0.301);
    color: black;
}

.imagem{
    background-color: rgb(236, 133, 133);
    color: white;
    text-shadow:1px 1px 0px black; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.356);
    background-attachment:fixed ;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.192);
display: inline-block;
padding: 10px;
}

#img01{
background-image: url("../ex025/imagens/background001.jpg");
background-position: right center;
background-size: cover;
}

#img02{
background-image: url("imagens/background002.jpg");
background-position: right center;
background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

