@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(mulheres-ai-generativas-protestando-gritando_108985-2515.avif);
  background-attachment: fixed;
}

/*
@keyframes animacao{
    0%{width: 50%;
    margin: left;}
    100%{width: 90%;
    margin: auto;}
}
*/


h1{
    text-align: center;
    font-size: 50px;
    margin-top: 30%;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.418);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.219);
    /*
    animation-name: animacao;
    animation-duration: 3s;
    animation-iteration-count: 1;
    */
}
/*
h1:active{
    transform: scale(0.96);
   cursor: pointer;
}
*/

.ent{
    text-align: left;
    color: white;
    margin-top: 20px;
}


h2{
    display: block;
    background-color: #423E28;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

h3{
    display: inline-block;
    background-color: #423E28;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

.t{
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    margin-left: 45px;
}


p{
    border-radius: 20px;
    margin: 50px;
    padding: 20px;
    text-indent: 20px;
}


.test{
    background-color: chartreuse;
    background-image: url(images.jpg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.521);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
}


.test > p{
    display: none;
}

.test:hover > p{
    display: block;
    background-color: #ffffff;
    width: 300px;
}


img{
    
    width: 300px;
    height: 100px;
}
