@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:20000px){



   body{
    background-repeat:no-repeat;
    background-size: 100vw 70%;
    background-size: cover;
    background-position: rightcenter
    ;
    background-attachment: scroll;
   } 

   h1{
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    color: white;
   }

   .ent{
    width: 520px;
    margin: auto;
    margin-top: 10px;
   }

.Maria{
    width: 100%;
    height: 270px;
    margin-top: -20px;
    background: #EFD6AC url(transferir\ \(1\).jpg) no-repeat;
    background-size: contain;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);
   }


   .Maria > h2{
    margin-left: 223px;
    background-color: #BA6E6E;
    font-size: large;
    box-shadow: 2px 2px 2px rgba(3, 3, 3, 0.144);  
    width: 250px;
   }

   .Maria > p{
    margin-left: 213px;
    margin-top: 10px;
    width: 1020px;
   }


   .ideias > h2{
    margin-top: 100px;
    background-color: #CFDEE7;
    box-shadow: 2px 2px 2px black;
   }

   .ideal{
    background-color: white;
    border-radius: 0px;
    margin: 0px;
    box-shadow: 2px 2px 2px black;
   }

   h2{
    margin-top: 75px;
    width: 415px;
    padding: 10px;
    padding-left: 20px;
   }

   h3{
      margin-top: 75px;
      width: 415px;
      padding: 10px;
      padding-left: 20px;
     }

   .titulos{
      border: 1px solid black;
   }
   
   .item1{
      color: white;
   }

   p{
    width: 500px;
   }

   #containerT{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
   }

   .test:hover > p{ 
    width: 500px;
    margin-left: -150px;
    margin-top: 200px;
   
   }

   .m{
      background-color: chartreuse;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: 10px;
   }

   .m > p{
      display: none;
      background-color: white;
   }
   
   .m:hover > p{ 
      display: block;
      width: 500px;
      margin-left: -150px;
      margin-top: 200px;
     
     }

   .a{
         background-color: chartreuse;
         width: 200px;
         height: 200px;
         border-radius: 50%;
         margin-top: 10px;
   }

   .a > p{
      display: none;
   }

   footer{
    width: 1vw;
    height: 500px;
    background-color: #EFD6AC;
   }
}
