@charset "UTF-8";

h1 {
    background-color: #e0921ca1;
    color: rgb(224, 44, 12);
    font-size: 22pt;
        }
    
        body{
    background-color: rgb(232, 235, 108);
        }
        
        h2{
            background-color: rgb(240, 158, 100);
            color: red;
        }
    
        p{
            text-align: justify;
        }