@charset "UTF-8";

@font-face {
    font-family: Night;
    src: url("NightsideDemoRegular.ttf") format("Truetype");
}

*{
    padding: 0px;
    margin: 0px;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    background-image: url(night-4737942_640.jpg);
}

div.container{
    display: flex;
    background-color: rgba(170, 155, 87, 0.651);
    border: 1px block black;
    border-radius: 50%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 150px;
    height: 150px;
    margin: auto;
}



div.item{
    font-family: "Night";
    border: 1px solid black;
}

#item1{
    flex-basis: 100px;
    flex-shrink: 3;
    order: 6;
}

#item2{
    order: 1;
}

#item6{
    order: 2;
}

#item2, #item3, #item4{
    flex-basis: 50px;
    flex-shrink: 2;
}

div.circle{
    background-color: rgba(240, 201, 26, 0.651);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin:22% 0px 0px 22%;
}

