@charset "UTF-8";

*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #b9b9f3;
    background-repeat: no-repeat;
}

#imagem{
    background: #181818a8  url(../ex025/imagens/background002.jpg);
    background-size: cover;
    width: 80vw;
    height:150px;
    border-radius:10px 10px 0px 0px;
}

main{
  background-color: white;
    width: 80vw;
    height: 80vh;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}

h1, p{
    display: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    text-justify: auto;
    text-align: center;
    display: block;
    transition: width 0.3s, height 0.3s;
    transition-timing-function:ease;
}

span{
    color: white;
}

p{
    background-color: rgb(235, 232, 229);
    border-radius: 5px;
}

label{
    border-radius: 5px;
}

input{
    background-color: rgb(223, 161, 161);
    border-radius: 5px;
    width: 200px;
    align-self: auto;
}