@charset "UTF-8";

*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #b9b9f3;
    background-repeat: no-repeat;
}


header{
    background: #181818a8  url(../ex025/imagens/background002.jpg);
    background-size: cover;
    width: 100%;
    height:150px;
    border-radius:10px 10px 0px 0px;
}

main{
  background-color: white;
    width: 60vw;
    height: 85vh;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}


h1, p{
    display: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    text-justify: auto;
    text-align: center;
    display: block;
    transition: width 0.3s, height 0.3s;
    transition-timing-function:ease;
}

span{
    color: rgb(0, 0, 0);
}

p{
    margin-left: 8px;
    border-radius: 5px;
    text-align: left;
}

form > div.campo{
    background-color: #b9b9f3;
    border: 2px solid #b9b9f3;
    width: 90%;
    border-radius: 5px;
    margin: 5px 0px;
    height: 40px;
    margin: auto;
}



input[type=submit]{
    display: block;
    font-size: 1em;
    width: 90%;
    height:40px;
    margin: auto;
    background-color: rgb(189, 245, 245);
border-radius: 5px;
border: 1px solid;
}

div.campo > label{
    display: none;
}

div.campo > input{
    background-color:  rgb(181, 231, 231);
    font-size: 1em;
    height: 100%;
    width: calc(100% - 55px);
    border: 0px;
    border-radius: 5px;
    transform: translateY(-12px);
}

div.campo > i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

input[type=submit]:hover{
    background-color: rgb(77, 124, 124);
    cursor: pointer;
}

a{
   text-decoration: none; 
   color: rgb(10, 12, 12);
}

form > .botao{
    
    text-align: center;
    margin: auto;
    margin-top: 5px;
    font-size:1em;
    width: 90%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 5px;
    
}

form > .botao:hover{
    background-color: rgb(156, 243, 243);
}
