@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:1024px){
  
body{
    background-image:linear-gradient(to top, rgb(240, 240, 240), #b9b9f3);
}

    h1, p{
        margin: 0px;
       width: 70%;
       float: right;
    }


    main{
        width: 70vw;
    }

    header{
        height: 80vh;
        width: 30%;
        float: left;
        border-radius: 10px 0px 0px 10px;
    }

    input[type=submit] {
        width: 60%;
    }
    
   form > .botao{
    width: 60%;
    margin-left:35%;
}
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {

    body{
        background-image:linear-gradient(to top, rgb(240, 240, 240), #b9b9f3);
    }

    h1, p{
        width: 50%;
        float:left;
        margin: 0px;
    }

    h1{
        font-size: 2.5em;
    }

    p{
        font-size: 1.5em;
    }
    
   header{
        height: 80vh;
        width: 50%;
        float: right;
        border-radius: 0px 10px 10px 0px;
       }
 
    main{
        width: 90vw;
    }

    input[type=submit] {
        width: 40%;
    }
 
    form > .botao{
        width: 40%;
        margin-left: 5%;
    }
}