@charset "UTF-8";
@font-face {
    font-family:'Bast';
    src: url('fontes/Bastliga\ One.otf') format('OpenType');
}
@font-face {
    font-family:'Mask';
    src: url('fontes/Maskdown.ttf') format('Truetype');
}
body{
    background-color: #DDDEC6;
}

main{
background-color:#ffffff ;
width: 600px;
padding: 50px;
margin: auto;
border-radius: 10px;
box-shadow: 5px 5px 10px #453831;
}

h1{
color: #BB0000;
text-align: center;
text-shadow: 10px 10px 10px #000000;
font-family: cursive;
border: 10px solid black;
border-image-source: url('transferir.png');border-image-slice: 200;
border-image-repeat: repeat;

}

h2{
color: #b39a9a;
padding: 10px;
margin: 15px;
}

li{
font-family: cursive;

}

img{
    background-color: #f7f7ec;
}

.assinado{
    font-family: Bast;
}

ul{
    font-weight: bold;
}

.ghost{
    font-family: Mask;
}

.titulo > p{
    color: blue;
    display: none;
}

.titulo:hover > p{
    text-align: center;
    display: block;
}

.link{
    color: #BB0000;
    display: none;
}

.op:hover > .link{
    display: block;
}
.foto{
        box-shadow: 5px 5px 10px black;
padding: 4em;
margin: auto;
    }
    
a{
    display: block;
    outline-color: #000000;
}

  div:hover > .musica{
        color: blue;
        text-align: center;
        display: block;
    }

    footer{
        background-color: #000000;
    }

    h3{
        background-color: #e25353;
    padding: 2px;
    }
